:root {
  --bg1: #09334f;
  --bg2: linear-gradient(to right, purple, crimson);
  --wrm: #d1faff;
  --deg: -12deg;
  --sz: 5vmin;
  --spd: 2.05s
}

html, body {
  zoom: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  display: none
}

#preloader {
  background: white url(../Images/loader.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
nav a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family:'Poppins', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 9px;
  font-weight: bold;
}

nav i {
  font-size: 25px;
  cursor: pointer;
  position: relative;
  padding-left: 9px
}


.line1 {
  width: 60px;
  height: 3px;
  position: absolute;
  background: cyan;
  top: 90%;
  left: 3%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 0 2px 0 2px;
}

.line2 {
  width: 75px;
  height: 3px;
  position: absolute;
  background: cyan;
  top: 90%;
  left: 28%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 0 2px 0 2px;
}

.line3 {
  width: 80px;
  height: 3px;
  position: absolute;
  background: cyan;
  top: 90%;
  left: 60%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 0 2px 0 2px;
}

nav a:hover + .line1 {
  opacity: 1
}

nav a:hover + .line2 {
  opacity: 1
}
nav a:hover + .line3 {
  opacity: 1;
}

.home-button {
  background: none;
  border: none;
  padding: 15px 15px;
  border-radius: 25%;
  position: fixed;
  top: 88%;
  left: 94.5%;
  cursor: pointer;
  z-index: 1;
  background: rgba(170, 170, 170, 0.525);
  transition: 0.5s;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.home-button:hover {
  transform: scale(1.2);
}

.home-button svg {
  color: #fff;
}

.title{
  flex: 1 1 100%;
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: black;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 30%;
  left: -1%;
  font-family: "Poppins", "Gill Sans";
  overflow: hidden;
}


.slider {
  display: inline-block;
  height: 1.5em;
  overflow: hidden;
  vertical-align: middle;
  mask-image: linear-gradient(transparent, black, black, black, transparent);
  mask-type: luminance;
  mask-mode: alpha;
}

.words {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  animation-name: slice;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  background: linear-gradient(to right, cyan, purple);
  background-clip: none;
  -webkit-background-clip: text;
  color: transparent;
}

.word {
  display: block;
  line-height: 1.3em;
  text-align: left;
}


@keyframes slice {
  0%,
  27% {
    transform: translateY(0%);
  }
 
  33%,
  60% {
    transform: translateY(-33%);
  }

  66%,
  93% {
    transform: translateY(-66%);
  }

}
.desc {
  font-size: 15px;
  font-family: "Poppins", "Gill Sans";
  top: 46%;
  left: 12%;
  position: absolute;
}

.about-me {
  font-family: "Poppins", "Gill Sans";
}

.about-box {
  position: absolute;
  top: 90%;
  left: 0.05%;
  width: 1530px;
  height: 300px;
  background: linear-gradient(to right, purple, crimson);
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  border: 3px solid black
}

.four-pointed-star{
  position:absolute;
  top: 73%;
  left: 18%;
  margin:1em auto;
  width:30px;
  font-size:10em;
}

.four-pointed-star:before{
  content:"";
  position:absolute;
  background: linear-gradient(to right, cyan, blue);
  width:30px;
  height:30px;
  transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.four-pointed-star:after{
  content:"";
  position:absolute;
  background:linear-gradient(to right, cyan, blue);;
  width:30px;
  height:30px;
  transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}

.aboutme-desc {
  position: absolute;
  top: 106%;
  left: 1%;
  columns: 1;
  color: white

}

.about-container {
 position: absolute;
 top: 105%;
 left: 0.5%;
 background: transparent;
 width: 1500px;
 height: 150px;
 border-radius: 15px 15px 15px 15px;
 /*border: 3px solid white;*/
}


.about-circle {
  position: absolute;
  top: 91%;
  left: 0.5%;
  width: 280px;
  height: 60px;
  background: transparent;
  border-radius: 10px 10px 15px 15px;
  /*box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  border: 3px solid white*/
}

.about {
  position: absolute;
  top: 87%;
  left: 1%;
  font-size: 50px;
  z-index: 1;
  color: white
}

.skills{
 font-family: "Poppins", "Gill Sans";
 font-weight: bold;
}
.skills-name {
  position: absolute;
  top: 140%;
  left: 47%
}

.html-svg {
  position: absolute;
  top: 160%;
  left: 10%;
}

.css-svg {
  position: absolute;
  top: 160%;
  left: 35%
}

.js-svg {
  position: absolute;
  top: 160%;
  left: 60%
}

.react-svg {
  position: absolute;
  top: 160%;
  left: 83%
}

.project-container {
  font-family: "Poppins", "Gill Sans";
  position: absolute;
  top: 190%;
  left: 0.05%;
  width: 99.6vw;
  height: 700px;
  border: 3px solid black;
  border-radius: 10px;
  background: linear-gradient(to right, purple, crimson);
  color: white
}

.four-pointed-star2{
  position:absolute;
  top: -18%;
  left: 59%;
  margin:1em auto;
  width:30px;
  font-size:10em;
}

.four-pointed-star2:before{
  content:"";
  position:absolute;
  background: linear-gradient(to right, cyan, blue);
  width:30px;
  height:30px;
  transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.four-pointed-star2:after{
  content:"";
  position:absolute;
  background:linear-gradient(to right, cyan, blue);;
  width:30px;
  height:30px;
  transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}

.project-header {
  position: absolute;
  left: 44%;
  top: -3%;
  font-size: 50px;
}

.project-box {
  position: absolute;
  top: 20%;
  left: 1%;
  border: 4px solid black;
  width: 300px;
  height: 500px;
  border-radius: 10px 10px 10px 10px;
  transition: 0.5s;
}

.project-box-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-image {
  position: absolute;
  top: 17%;
  left: 15%;
  width: 200px;
  height: 200px
}

.project-about {
  position: absolute;
  top: 55%;
  left: 3%
}

.project-desc {
  position: absolute;
  top: 63%;
  left: 3%
}

.project-github {
  position: absolute;
  font-size: 37px;
  top: 82%;
  left: 3%;
}

.project-github a {
  color: white
}

.project-link {
  position: absolute;
  font-size: 30px;
  top: 84.5%;
  left: 20%
}

.project-link a {
  color: white
}

.project-box2 {
  position: absolute;
  top: 20%;
  left: 28%;
  border: 4px solid black;
  width: 300px;
  height: 500px;
  border-radius: 10px 10px 10px 10px;
  transition: 0.5s;
}

.project-box3 {
  position: absolute;
  top: 20%;
  left: 53%;
  border: 4px solid black;
  width: 300px;
  height: 500px;
  border-radius: 10px 10px 10px 10px;
  transition: 0.5s;
}

.project-box4 {
  position: absolute;
  top: 20%;
  left: 79%;
  border: 4px solid black;
  width: 300px;
  height: 500px;
  border-radius: 10px 10px 10px 10px;
  transition: 0.5s;
}

.project-box:hover {
  transform: scale(1.05)
}

.project-box2:hover {
  transform: scale(1.05);
}

.project-box3:hover {
  transform: scale(1.05);
}

.project-box4:hover {
  transform: scale(1.05);
}

.contact-box {
  width: 900px;
  height: 500px;
  background: rgb(83, 12, 83);
  position: absolute;
  top: 300%;
  left: 21%;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 50px;
}

@property --deg {
  syntax: "<angle>";
  inherits: false;
  initial-value: -12deg;
}

@keyframes spin {
  0% {
    --deg: -12deg;
  }

  100% {
    --deg: 348deg;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.rotating-shape {
  width: var(--sz);
  height: var(--sz);
  background: conic-gradient(from var(--deg) at 50% 50%,
  var(--bg1) 0,
  var(--wrm) 25deg 50deg,
  var(--bg1) 51deg 100%);
  clip-path: polygon(0% 0%,
  40% 0%,
  50% 10%,
  60% 0,
  100% 0,
  100% 40%,
  90% 50%,
  100% 60%,
  100% 100%,
  60% 100%,
  50% 90%,
  40% 100%,
  0% 100%,
  0% 60%,
  10% 50%,
  0% 40%);
  animation: spin var(--spd) linear 0s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7%;
  left: 75%;
  border-radius: calc(var(--sz) / 10);
  animation: spin var(--spd) linear 0s infinite,
  rotation var(--spd) linear 0s infinite ;
}

.rotating-shape:before {
  content: "";
  position: absolute;
  width: calc(100% - calc(var(--sz) /10));
  height: calc(100% - calc(var(--sz) /10));
  border-radius: calc(var(--sz) / 20);
  background: var(--bg2);
  clip-path: polygon(0% 0%,
  38% 0%,
  50% 12%,
  62% 0%,
  100% 0%,
  100% 38%,
  88% 50%,
  100% 62%,
  100% 100%,
  62% 100%,
  50% 88%,
  38% 100%,
  0% 100%,
  0% 62%,
  12% 50%,
  0% 38%);

 
}


.contact-intro {
  position: absolute;
  color: white;
  font-family: "Poppins", "Gill Sans";
  left: 3%; 
}

.cnt-touch {
  color: crimson;
}

.cnt-desc {
  position: absolute;
  color: white;
  font-family: "Poppins", "Gill Sans";
  left: 3%;
  top: 12%;
  font-size: 20px;
}

.cnt-about {
  position: absolute;
  color: white;
  font-family: "Poppins", "Gill Sans";
  top: 20%;
  left: 3%;
  font-size: 14px;
}

.contact-container {
  position: absolute;
  top: 10%;
  left: 53%;
  background-color: white;
  width: 400px;
  height: 430px;
  border-radius: 10px 10px 10px 10px;
}

.contact-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", "Gill Sans";
  background-image: linear-gradient(to right, purple, crimson);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  left: 20%
}

.name {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 350px;
  height: 25px;
  outline: none;
  border-radius: 10px 10px 10px 10px
}

.email {
  position: absolute;
  top: 33%;
  left: 5%;
  width: 350px;
  height: 25px;
  outline: none;
  border-radius: 10px 10px 10px 10px;
}

.message {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 350px;
  height: 100px;
  outline: none;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid black
}

.submitBtn {
  width: 130px;
  height: 40px;
  border-radius: 30px;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background: linear-gradient(to left, purple,crimson);
  letter-spacing: 0.7px;
  position: absolute;
  top: 80%;
  left: 33%;
  box-shadow: 3px 4px rgba(36, 2, 48, 0.8);
}

.submitBtn:hover .arrow {
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both infinite;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.submitBtn:active {
  transform: scale(0.97);
}

.email-name {
  position: absolute;
  color: white;
  font-family: "Poppins", "Gill Sans";
  top: 60%;
  left: 3%;
}

.email-name a {
  text-decoration: underline;
  color: white
}

.github-icon {
  position: absolute;
  top: 80%;
  left: 3%;
}

.github-icon a {
  font-size: 50px;
  color: white
}

.linkedin-icon {
  position: absolute;
  top: 80%;
  left: 15%;
}

.linkedin-icon a {
  font-size: 50px;
  color: white
}

/* Styles for screens less than 768px wide */
@media screen and (max-width: 767px) {
  .navbar {
    position: absolute;
    left: 16%;
  }
  .line1 {
    position: absolute;
    top: 80%;
    left: 3%;
    width: 60px
  }
  .line2 {
    position: absolute;
    top: 80%;
    left: 29%;
    width: 74px
  }
  .line3 {
    position: absolute;
    top: 80%;
    left: 60%;
    width: 78px
  }

  .home-button {
    left: 85%
  }
  .title {
    position: absolute;
    font-size: 25px;
    left: 1%;
    top: 30%

  }
  @keyframes slice {
    0%,
  27% {
    transform: translateY(1%);
  }
 
  33%,
  60% {
    transform: translateY(-32%);
  }

  66%,
  93% {
    transform: translateY(-65%);
  }
  }

  nav {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
  }

  .about {
    position: absolute;
    font-size: 35px;
    top: 47%;
    left: 25%
  }

  .aboutme-desc {
    font-size: 12px;
    position: absolute;
    columns: 1;
    top: 56%;
    width: 370px;
    left: 8%
  }

  .about-box {
    position: absolute;
    top: 48%;
    width: 400px;
    left: 1%;
  }

  .skills-name {
    font-size: 25px;
    position: absolute;
    top: 80%;
    left: 40%
  }

  .html-svg {
    position: absolute;
    top: 89%;
    left: 3%;
    width: 70px;
    height: 70px;
  }

  .css-svg {
    position: absolute;
    top: 89%;
    left: 40%;
    width: 70px;
    height: 70px;
  }

  .js-svg {
    position: absolute;
    top: 89%;
    left: 75%;
    width: 70px;
    height: 70px;
  }

  .react-svg {
    position: absolute;
    top: 100%;
    left: 40%;
    width: 70px;
    height: 70px;
  }

  .contact-box {
    top: 400%;
    left: 4%;
    width: 383.5px;
    height: 1000px
  }

  .cnt-desc {
    position: absolute;
    top: 7%
  }

  .cnt-about {
    position: absolute;
    top: 12%;
    left: 3%;
    font-size: 13px;
  }

  .email-name {
    position: absolute;
    font-size: 17px;
    top: 30%
  }

  .github-icon {
    position: absolute;
    top: 40%;
    left: 20%
  }

  .linkedin-icon {
    position: absolute;
    top: 40%;
    left: 65%
  }

  .contact-container {
    position: absolute;
    top: 55%;
    left: 1.9%;
    width: 370px
  }

  .email {
    width: 330px
  }

  .name {
   width: 330px
  }

  .message {
   width: 330px
  }

  .contact-title {
    position: absolute;
    left: 15%
  }

  .rotating-shape {
    position: absolute;
    left: 75%;
    top: 6%;
    width: 35px;
    height: 35px
  }
  
  .title {
    position: absolute;
    left: -2%;
    top: 25%
  }
  

  .four-pointed-star {
    top: 34%;
    left: 70%
  }

  .four-pointed-star:before {
   width: 20px;
   height: 20px
  }

  .four-pointed-star:after {
   width: 20px;
   height: 20px
  }

  .project-container {
    top: 120%;
    left: 1%;
    width: 400px;
    height: 2500px
  }

  .project-header {
    left: 23%;
    top: -1.5%
  }

  .four-pointed-star2 {
    top: -5.5%;
    left: 80%
  }

  .four-pointed-star2:before {
    width: 27px;
    height: 27px
  }

  .four-pointed-star2:after {
    width: 27px;
    height: 27px
  }

  .project-box {
    top: 4%;
    left: 14%
  }

  .project-box2 {
    top: 27%;
    left: 14%
  }

  .project-box3 {
    left: 14%;
    top: 50%
  }

  .project-box4 {
    left: 14%;
    top: 73%
  }
}
 /* Styles for screens between 768px and 992px wide */
@media screen and (min-width: 767px) and (max-width: 1023px) {
 .contact-box {
  left: 1%;
  width: 800px
 }

 .contact-container {
  left: 54%;
  width: 350px
 }

 .cnt-about {
  font-size: 14px;
 }

 .name {
   width: 300px
 }

 .email {
  width: 300px;
 }

 .message {
  width: 300px;
 }

 .contact-title {
  left: 13%
 }

 .rotating-shape {
  width: 30px;
  height: 30px;
 }

 .home-button {
  top: 90%;
  left: 90%
 }
}

@media screen and (min-width:1024px) {
  .navbar {
    position: absolute;
    left: 79%;
  }

  .aboutme-desc {
    width: 1330px
  }

  .contact-box {
    
 
  }
}